doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    title Document title
  body
    h1
      | This is Jade Index
    script(src='libs.js')
    script(src='app.js')